@import "tailwindcss";
@plugin "daisyui";

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.italiana-bold {
  font-family: "Italiana", sans-serif;
  font-weight: 900;
  font-style: bold;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

.italianno-bold {
  font-family: "Italianno", cursive;
  font-weight: 900;
  font-style: bold;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input,
textarea,
select {
  -webkit-text-size-adjust: 100%;
}

/* E5E5E5 background */
/* #FFFFFF white */
/* C4C4C4 dull */
/*  */
/*  */